<!doctype html>
<html ng-app='NarrowItDownApp'lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

  </head>
<body>
   <div ng-controller='NarrowItDownController as ctrl'  class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model='ctrl.searchTerm' class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="ctrl.getAllItems()">Narrow It Down For Me!</button>
      <br>
    </div>
    <!-- <ol>
  <li ng-repeat="item in ctrl.foundItems">
    {{ item.name }}, {{ item.short_name }}, {{ item.description }}
    <button ng-click="onRemove({index: $index});">Don't want this one!</button>
  </li>
</ol> -->
    <!-- found-items should be implemented as a component -->
    <items-loader-indicator></items-loader-indicator>

    <found-items class='list' items="ctrl.foundItems" " on-remove="ctrl.removeItem(index)" show-error='ctrl.showError'></found-items>
  </div>

</body>
</html>
